<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find neato_simulator)/worlds/playground.world"/>
  </include>





  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="0.001453 -0.000453 0.25 0 0 0 base_link base_laser_link 50" />

     <node pkg="tf" type="static_transform_publisher" name="name_conversion" 
    args="0 0 0 0 0 0 base_link base_footprint 50" />

<node name="neato_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find neato_simulator)/model/model-1_4.sdf -sdf -model create" />




  <arg name="map_file" default="$(find neato_simulator)/maps/playground.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <node pkg="my_amcl" type="my_amcl.py" name="AMCL"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
 </node>



 </launch>
